label{
    margin-top: 30px;
    display: block;
}
input,select {
    width: 80%;
    padding: 10px 10px;
}

form{
    display: flex;
    flex-direction: column;
}

.btn-container {
    display: flex;
    margin-top: 20px;
}
.btn-container p-button {
    margin-right: 5px;
}

.error{
    color:red;
    font-family: 'Poppins';
}

.inputError:focus-visible {
    border: none;
    border: 1px solid red;
    outline: none;
}
.inputError {
    border: 1px solid red;
}