<img class="logo" src="assets/images/logo.png" />
<form (ngSubmit)="onSubmit()" [formGroup]="myForm" autocomplete="off" class="forgotPassword-form" >
    <h1 class="form-heading">Forgot Password</h1>
    <p>No worries, we'll set new password for you.</p>
    <p class="errorHead">{{errorHead}}</p>
    <div class="form-content">
        <div class="username-input-container">
            <div class="form-group username-input">
                <input [ngClass]="{inputError:myForm.get('username').invalid && myForm.get('username').dirty}" class="inputField" id="usernameField" type="text" aria-describedby="emailHelp"
                    placeholder="Username" formControlName="username">
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </div>
            <span *ngIf="myForm.get('username').errors?.['required'] && myForm.get('username').touched" id="usernameError" class="error">Username should not be a empty field</span>
            <span *ngIf="!myForm.get('username').errors?.['required'] && myForm.get('username').errors?.['usernameExists'] && myForm.get('username').dirty" id="usernameError" class="error">Username not found!</span>
        </div>
        <div class="email-input-container">
            <div class="form-group email-input">
                <input [ngClass]="{inputError:myForm.get('email').invalid && myForm.get('email').dirty}" class="inputField" id="emailField" type="text" formControlName="email" placeholder="Email">
                <img class="fa" src="assets/images/email.png" />
            </div>
            <span *ngIf="myForm.get('email').errors?.['required'] && myForm.get('email').touched" id="emailError" class="error">Email should not be a empty field!</span>
            <span *ngIf="!myForm.get('email').errors?.['required'] && myForm.get('email').errors?.['emailExists'] && myForm.get('email').dirty" id="emailError" class="error">Email not found!</span>
        </div>
        <div class="password-input-container">
            <div class="form-group password-input">
                <input [ngClass]="{inputError:myForm.get('password').invalid && myForm.get('password').dirty}" class="inputField" id="passwordField" formControlName="password" type="password" placeholder="New Password">
                <img id="passIcon" class="fa" src="assets/images/Vector.png" />
            </div>
            <span *ngIf="myForm.get('password').errors?.['required'] && myForm.get('password').touched" id="passwordError" class="error">Password should not be a empty field!</span>
            <span *ngIf="!myForm.get('password').errors?.['required'] && myForm.get('password').errors?.['password'] && myForm.get('password').dirty" id="passwordError" class="error">Password must have between 8 and 20 characters, atleast one lowercase letter, one uppercase letter, one number</span>
        </div>
        <button [disabled]="myForm.invalid" class="submit-btn" type="submit">Save</button>
    </div>
</form>